<html xmlns:th="http://www.thymeleaf.org" lang="fr">
	<head th:replace="~{fragments/head :: common_head('Inscription')}"></head>

	<body>
		<header th:replace="~{fragments/header :: common_header}"></header>

		<div class="container">

			<h1>Création d'un compte !</h1>
			<form action="/store/client/create" method="post" class="form-container">
				<div class="form-group">
					<label for="email">Email :</label>
					<input type="email" name="email" id="email" placeholder="Entrez votre email">
				</div>
				<div class="form-group">
					<label for="password">Mot de passe :</label>
					<input type="password" name="password" id="password" placeholder="Entrez votre mot de passe">
				</div>
				<div class="form-group">
					<label for="nom">Nom :</label>
					<input type="text" name="nom" id="nom" placeholder="Entrez votre nom">
				</div>
				<div class="form-group">
					<label for="prenom">Prénom :</label>
					<input type="text" name="prenom" id="prenom" placeholder="Entrez votre prénom">
				</div>
				<button type="submit" class="btn-submit">S'inscrire</button>
			</form>

			<p>Vous possédez déjà un compte ?</p>
			<a href="/store/client/register">Se connecter</a>

		</div>
		<footer th:replace="~{fragments/footer :: common_footer}"></footer>
	</body>
</html>
