<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head th:replace="~{fragments/head :: common_head('Connexion réussie')}"></head>

    <body>
        <header th:replace="~{fragments/header :: common_header}"></header>

        <h1>Vous êtes connecté avec succès !</h1>
        <p>Heureux de vous revoir, <span th:text="${prenom}"></span> <span th:text="${nom}"></span> !</p>
        <a href="/store/home">Retour à l'accueil</a>

        <footer th:replace="~{fragments/footer :: common_footer}"></footer>
    </body>
</html>